.appearance_page_custom-header #headimg {
	border: none;
}
#site-title {
	font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin: 0;
	padding: 20px 0;
	text-transform: uppercase;
}
#site-title a {
	text-decoration: none;
}
#site-description {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-transform: none;
	padding: 0 0 10px 0;
	margin: 0;
}

#headimg img {
	max-width: 100%;
	height: auto;			
}


@media screen and (min-width: 800px) {

	#site-title,
	#site-description {
		display: inline-block;
		width: 50%;
	}
	#site-description {
		padding-left: 0;
		padding-right: 0;
		width: 46%;
	}

}